<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://order-items-reserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f78948ea-2754-40c2-a576-c8d01b5cdfd5/resourceGroups/S4egol/providers/Microsoft.Web/sites/order-items-reserver</ResourceId>
    <UserName>$order-items-reserver</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://order-items-reserver.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>